{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "rules": {
        "yoda": "warn",
        "arrow-parens": "error",
        "semi": ["warn", "always"],
        "one-var": ["error", {"const": "never", "let": "never"}],
        "no-var": "error",
        "prefer-const": "warn",
        "object-shorthand": "warn",
        "no-useless-constructor": "error",
        "no-useless-rename": "error",
        "prefer-arrow-callback": "warn",
        "prefer-rest-params": "warn"
    }
}
