:root {
    --dark: #282c34;
    --white: #fff;
    --black: #001f3f;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body.dark,
.header.dark {
    background: var(--dark);
    color: var(--white);
}

body.light,
.header.light {
    background: var(--white);
    color: var(--black);
}
