@font-face {
    font-family: 'Roboto';
    font-display: auto;
    src: local('Roboto'), url('assets/fonts/Roboto-Regular.ttf');
}

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
